<!-- <footer id="siteFooter">
        <nav class="footerMenu row full">
            <ul class="cf footerMenuItems">
                <li class="fleft footerMenuItem hidden-xs hidden-sm">
                    <a href="#" class="action off"></a>
                </li>
                <li class="fleft footerMenuItem">
                    <a href="#" class="link" title="Plan du site"><span class="vaMid">Plan du site</span></a>
                </li>
                <li class="fleft footerMenuItem hidden-xs hidden-sm">
                    <a href="#" class="link" title="Nos valeurs"><span class="vaMid">Nos valeurs</span></a>
                </li>
                <li class="fleft footerMenuItem hidden-xs hidden-sm">
                    <a href="#" class="link" title="Bureaux de poste"><span class="vaMid">Bureaux de poste</span></a>
                </li>
                <li class="fleft footerMenuItem">
                    <a href="#" class="link" title="Questions/Réponses"><span class="vaMid">Questions/Réponses</span></a>
                </li>
                <li class="fleft footerMenuItem">
                    <a href="#" class="link" title="Contact"><span class="vaMid">Contact</span></a>
                </li>
                <li class="fleft footerMenuItem hidden-md hidden-lg">
                    <a href="#" class="link picto-sticky" title="Besoin d'aide"><span class="vaMid">Besoin d'aide</span></a>
                </li>
                <li class="fright footerMenuItem mobileOnly">
                    <div class="social mobileOnly">
                        <ul class="footerSubMenuItems cf">
                            <li class="fleft footerSocial fb"><a href="#" class="link" title="Facebook"></a></li>
                            <li class="fleft footerSocial tw"><a href="#" class="link" title="Twitter"></a></li>
                            <li class="fleft footerSocial yt"><a href="#" class="link" title="Youtube"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <nav class="footerSubMenu off row">
            <div class="footerSubMenuWrapper col-xs-12">
                <div class="row">
                    <div class="col col-xs-2 col-xs-offset-1">
                        <div class="footerSubMenuBlock">
                            <div class="title">Forfaits</div>
                            <ul class="footerSubMenuItems">
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Forfaits + mobile">Forfaits + mobile</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Forfaits SIM">Forfaits SIM</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Offres prépayées classiques">Offres prépayées classiques</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Offres prépayées internationales">Offres prépayées internationales</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Offres Box + Mobile">Offres Box + Mobile</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footerSubMenuBlock">
                            <div class="title">BOX Internet</div>
                            <ul class="footerSubMenuItems">
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Box ADSL de SFR">Box ADSL de SFR</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Box Fibre La Poste Mobile">Box Fibre La Poste Mobile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-2">
                        <div class="footerSubMenuBlock">
                            <div class="title">Téléphones</div>
                            <ul class="footerSubMenuItems">
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Tous les téléphones">Tous les téléphones</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="LG F70 Blanc">LG F70 Blanc</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Samsung Core Prime 4G">Samsung Core Prime 4G</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Nokia Lumia 535">Nokia Lumia 535</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Samsung Trend 2 Lite">Samsung Trend 2 Lite</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Doro 612">Doro 612</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Paramétrer mon téléphone">Paramétrer mon téléphone</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-2">
                        <div class="footerSubMenuBlock">
                            <div class="title">Espace client</div>
                            <ul class="footerSubMenuItems">
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Mon compte">Mon compte</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Info Conso">Info Conso</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Activer KIT Forfait SIM">Activer KIT Forfait SIM</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Assistance">Assistance</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Parrainer un proche">Parrainer un proche</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Paramétrer mon téléphone">Paramétrer mon téléphone</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Suivre ma commande">Suivre ma commande</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-2">
                        <div class="footerSubMenuBlock">
                            <div class="title">Services</div>
                            <ul class="footerSubMenuItems">
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Application La Poste Mobile">Application La Poste Mobile</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Application Music La Poste Mobile">Application Music La Poste Mobile</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Réseaux 4G et Fibre">Réseaux 4G et Fibre</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Prêt de téléphone">Prêt de téléphone</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Recyclage de téléphone">Recyclage de téléphone</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Livraison">Livraison</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Conservation du numéro">Conservation du numéro</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Paiement sécurisé">Paiement sécurisé</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-xs-2">
                        <div class="footerSubMenuBlock">
                            <div class="title">Informations<br/>générales</div>
                            <ul class="footerSubMenuItems">
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Presse">Presse</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Recrutement">Recrutement</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Accessibilité">Accessibilité</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Environnement">Environnement</a>
                                </li>
                                <li class="footerSubMenuItem">
                                    <a href="#" class="link" title="Les Cookies">Les Cookies</a>
                                </li>
                            </ul>
                        </div >
                        <div class="social">
                            <ul class="footerSubMenuItems cf">
                                <li class="fleft footerSocial fb"><a href="#" class="link" title="Facebook"></a></li>
                                <li class="fleft footerSocial tw"><a href="#" class="link" title="Twitter"></a></li>
                                <li class="fleft footerSocial yt"><a href="#" class="link" title="Youtube"></a></li>
                            </ul>
                        </div>
                    </div>    
                </div>
            </div>
        </nav>
        <nav class="footerFooter">
            <ul class="cf fillH footerFooterItems">
                <li class="fleft footerFooterItem">
                    <a href="#" class="link" title="Mentions Légales"><span class="vaMid">Mentions Légales</span></a>
                </li>
                <li class="fleft footerFooterItemSeparator"><span class="vaMid">|<span></li>
                <li class="fleft footerFooterItem">
                    <a href="#" class="link" title="Conditions et tarifs"><span class="vaMid">Conditions et tarifs</span></a>
                </li>
              <li class="fleft footerFooterItemSeparator hidden-xs hidden-sm"><span class="vaMid">|<span></li>
                <li class="fleft footerFooterItem hidden-xs hidden-sm">
                    <a href="#" class="link" title="LaPoste.fr"><span class="vaMid">LaPoste.fr</span></a>
                </li>
                <li class="fleft footerFooterItemSeparator hidden-xs hidden-sm"><span class="vaMid">|<span></li>
                <li class="fleft footerFooterItem hidden-xs hidden-sm">
                    <a href="#" class="link" title="LaBanquePostale.fr"><span class="vaMid">LaBanquePostale.fr</span></a>
                </li>
                <li class="fright footerFooterItem pay cf mobileDisplay">
                    <a href="#" class="link fleft"><span class="vaMid"><img src="../img/footerFooter-lock.png"></span></a>
                    <a href="#" class="link fleft"><span class="vaMid"><img src="../img/footerFooter-cb.png"></span></a>
                    <a href="#" class="link fleft"><span class="vaMid"><img src="../img/footerFooter-visa.png"></span></a>
                    <a href="#" class="link fleft"><span class="vaMid"><img src="../img/footerFooter-mastercard.png"></span></a>
                </li>
            </ul>
        </nav>
    </footer> -->