
<div class="container"> 
 
    <div class="row" >
        <div class="col-md-12">
            <input  type="text" class="form-control col-md-3" placeholder="Numéro de fixe">
            <div class="invalid-feedback">numero fixe invalide</div>
        </div>
    </div>
    <div class="row">
          
      
        <div class="form-group">
                <label class="control-label" style="margin-right:10px"></label>
                <label class="radio-inline">
                  <input class="mr-3" type="checkbox" value="" ><span  style="font-size: 11px; line-height: 0pt;">Vous refusez de recevoir des communications commerciales de <span style="white-space:nowrap">La Poste Telecom</span> par courrier ou par téléphone.</span>
              
                </label>
        </div>
    </div>
    <div class="row">
            <div class="form-group col-md-4">
                    <button (click)="redirectToOffrePage()" class="form-control col-md-3"  > Valider </button>
                  </div>
        </div>
</div>

