
<h3>Testez votre éligibilité à la fibre, au très haut débit et à l’ADSL</h3>
   <div class="container">
        <div class="row" >
                <div class="col-xs-12">
                    <h4 >Renseignez votre numéro de téléphone</h4>
                </div>
            </div>
   </div>   


        <app-eligibilite-by-ndi></app-eligibilite-by-ndi>

        <div class="or-spacer">
            <div class="mask"></div>
            <span><i>OU</i></span>
        </div>
        
       

        <app-eligibilite-by-adress></app-eligibilite-by-adress>
<br>

       


