<section class="page boxFibre">
    <section class="cover row hidden-xs hidden-sm"></section>
    <!--<section class=" txtCenter row vaMidParent"> disponibilite-->
    <section class="sectionLPM row txtCenter">
        <div class="container-fluid">
            <div class="row bgWhite">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        
                        <div class="panel-body">
                            <div id="ContentPlaceHolder1_REP_ELIGIBILITE">

                                    <div id="ContentPlaceHolder1_div_test_eligibilite">
                                       

                                        <app-eligibilite-by-ndi></app-eligibilite-by-ndi>

                                        <div class="or-spacer">
                                            <div class="mask"></div>
                                            <span><i>OU</i></span>
                                        </div>
                                        <!-- TEST VIA ADRESSE -->
                                        <app-eligibilite-by-adress></app-eligibilite-by-adress>
                                        
                                        <!-- TEST RIVOLI -->

                                        
                                    </div>

                                    


                                    

                                    

                                    





                                    

                                    

                                    

                                    


                                    



                                    

                                    

                                    
                                    
                                    
                                    

                                    

                                
            </div>
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_canal" id="ContentPlaceHolder1_hdn_canal" value="1">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_pdv" id="ContentPlaceHolder1_hdn_pdv" value="9899">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_part" id="ContentPlaceHolder1_hdn_part" value="internet">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_ref" id="ContentPlaceHolder1_hdn_ref" value="direct">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_utilisateur" id="ContentPlaceHolder1_hdn_utilisateur" value="1300">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_origine" id="ContentPlaceHolder1_hdn_origine" value="1">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_apporteur_affaire" id="ContentPlaceHolder1_hdn_apporteur_affaire" value="-1">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_origine_appel" id="ContentPlaceHolder1_hdn_origine_appel" value="-1">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_fut" id="ContentPlaceHolder1_hdn_fut" value="True">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_pdv_apporteur" id="ContentPlaceHolder1_hdn_pdv_apporteur" value="-1">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_rh_apporteur" id="ContentPlaceHolder1_hdn_rh_apporteur">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_est_call_in" id="ContentPlaceHolder1_hdn_est_call_in" value="False">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_est_call_out" id="ContentPlaceHolder1_hdn_est_call_out" value="False">
                            <input type="hidden" name="ctl00$ContentPlaceHolder1$hdn_BtnAction_Partenaire" id="ContentPlaceHolder1_hdn_BtnAction_Partenaire">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>






<!-- <h3>Testez votre éligibilité à la fibre, au très haut débit et à l’ADSL</h3>
   <div class="container">
        <div class="row" >
                <div class="col-xs-12">
                    <h4 >Renseignez votre numéro de téléphone</h4>
                </div>
            </div>
   </div>   


        <app-eligibilite-by-ndi></app-eligibilite-by-ndi>

        <div class="or-spacer">
            <div class="mask"></div>
            <span><i>OU</i></span>
        </div>
        
       

        <app-eligibilite-by-adress></app-eligibilite-by-adress>
<br> -->

       


