

<form >
    <div class="container-fluid">
        <!-- <div  id="DivIncludeHeader"></div> -->
        <app-header></app-header>

        <!-- 2 mois offerts -->
        <div runat="server" id="promoHiverMaster">
            <div id="divOffre2MoisOfferts" class="hidden">
                <!-- Cette promo doit apparaitre seulement sur la page offres -->
                <a href="https://www.lapostemobile.fr/lesjourslibertes/" target="_blank">
                    <!-- <img src="<%=LPM.THD_Portail.Client.TOutils.GetParametre("URL_MEDIAS")+"img/sticky-btn.png"%>" alt="Promotion 2 mois offerts" class="aboveBesoinAide" style="background-color: white;" /></a> -->
                    <img src="https://medias-rct.lapostetelecom.local/img/sticky-btn.png" alt="Promotion 2 mois offerts" class="aboveBesoinAide" style="background-color: white;" /></a>
            </div>
        </div>
        <div id="divCall" runat="server">
            <div class="besoinAide sectionLPM" [ngStyle]="besoiAideStyle">
                <div class="td" id="openWebCall">
                    <!-- <img src="<%=LPM.THD_Portail.Client.TOutils.GetParametre("URL_MEDIAS") %>img/sticker-btn-open.png" alt="Besoin d'aide?" role="button" class="poignee" /></div> -->
                    <img [src]="poigneeSrc" alt="Besoin d'aide?" role="button" class="poignee" (click)="onPoigneeClick()" />
                <div class="td" id="webcall">
                    <a href="tel:0805305009" target="_blank" class="hidden-md hidden-lg">
                        <!-- <img src="<%=LPM.THD_Portail.Client.TOutils.GetParametre("URL_MEDIAS") %>img/sticker-btn-contact.png" alt="Besoin d'aide?" /> -->
                        <img src="https://medias.lapostemobile.fr/portail_fibre/img/sticker-btn-contact.png" alt="Besoin d'aide?" />
                    </a>
                    <!-- <a href="<%=LPM.THD_Portail.Client.TOutils.GetParametre("URL_PORTAIL")%>contact" target="_blank" class="hidden-xs hidden-sm"> -->
                    <a href="#" target="_blank" class="hidden-xs hidden-sm">
                    <!-- <img src="<%=LPM.THD_Portail.Client.TOutils.GetParametre("URL_MEDIAS") %>img/sticker-btn-contact.png" alt="Besoin d'aide?" /> -->
                    <img src="https://medias.lapostemobile.fr/portail_fibre/img/sticker-btn-contact.png" alt="Besoin d'aide?" />
                        </a>
                </div>
              </div>
            </div>
        </div>
        <!-- <router-outlet name="principal" ></router-outlet>  -->
        <router-outlet ></router-outlet> 

        <app-footer></app-footer>
    </div>


</form>





