
<br/>
<br/>
<div class="sectionLPM pad10pct_lr">
    <div class="row text-center">
        <div class="col-xs-2"> <!--  nextStep or currentStep -->
            <button class="btn btn-default btn-round currentStep" disabled="disabled"><span class="hidden-xs hidden-sm"><b>1</b></span></button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-round nextStep" disabled="disabled"><span class="hidden-xs hidden-sm"><b>2</b></span></button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-round nextStep" disabled="disabled"><span class="hidden-xs hidden-sm"><b>3</b></span></button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-round nextStep" disabled="disabled"><span class="hidden-xs hidden-sm"><b>4</b></span></button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-round nextStep" disabled="disabled"><span class="hidden-xs hidden-sm"><b>5</b></span></button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-default btn-round nextStep" disabled="disabled"><span class="hidden-xs hidden-sm"><b>6</b></span></button>
        </div>
    </div>
    <div class="row text-center hidden-xs hidden-sm">
        <div class="col-xs-2">
            <h5 class="font-bold">OPTIONS</h5>    <!--grey or font-bold -->
        </div>
        <div class="col-xs-2">
            <h5 class="grey">COORDONNÉES</h5>
        </div>
        <div class="col-xs-2">
            <h5 class="grey">RENDEZ-VOUS</h5>
        </div>
        <div class="col-xs-2">
            <h5 class="grey">RÉCAPITULATIF</h5>
        </div>
        <div class="col-xs-2">
            <h5 class="grey">PAIEMENT</h5>
        </div>
        <div class="col-xs-2">
            <h5 class="grey">CONFIRMATION</h5>
        </div>
    </div>

<!-- Content  -->



    <div class="panel panel-default">
        <div class="panel-body text-center">
            <a  class="btn btn-lg btn-BlackWhite font-bold">Retour</a>&nbsp;&nbsp;
            <button ID="btnValider" class="btn btn-lg btn-Jaune font-bold" Text="Valider" >Valider</button>
        </div>
    </div>

</div>



